/* The container <li> - needed to position the dropdown content */
.navElement {
    position: relative;
    display: inline-block;
    background-color: #91c6f7;
}

/* Style the dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown ul li {
    padding: 10px;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown ul li:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.navElement:hover .dropdown {
    display: block;
}

.entradaTraducida{
    margin-left: 5%;
    width: 90%;
    margin-bottom: 20px;
}

.entradaOriginal{
    width: 95%;
}

.menubutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin:5px;
}

